h3 {
    text-align: center;
    padding: 2%;
}
h1 {
    padding: 49px;
}
.icon {
padding: 50%;
}
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 52%;
    height: 10%;
    padding-top: 2%;
}

.navigation ul {
    list-style-type: none;
    background-image: url(background.jpeg);
    text-align: center;
    overflow: hidden;
    padding: 0%;
    margin: 0%;
}

.navigation a {
    color: white;
    padding: 17px;
    width: 120px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    text-align: center;
    text-decoration: none;
}

.navigation li {
    float: center;
    display: inline-flex;
}

body {
    margin: 0%;
    padding: 0%;
    padding-bottom: 50px;
    background-image: url(background.jpeg);
    text-wrap: wrap;
}
/* Main layout above */